{% extends 'base.html' %}

{% block content %}

<div>
<h1>KL Arts Hubs</h1>

<p>Explore some of Kuala Lumpur's exhibition spaces, performing arts and bookstores.</p>
</div>

<!-- pairs is a list that must be sent here by a route function
     The list will contain 45 pairs: a presidency number, and a
     president's name -->
<div class="flex-container">
   {% for card in cards %}
    <div id="{{card.id}}" class="card">
        <img src="{{ url.format(card.photo_ref,key) }}">
        <a href="{{ url_for( 'get_a_hub', hub_id=card.id ) }}">{{card.name}}</a>
        <div class="flex-container">
        {% for category in card.category %}
        <div class="pill">
            <p>{{category}}</p>
        </div>
        {% endfor %}
        </div>
       
        
        
    </div>
    {% endfor %}
</div>
{% endblock %}